.container {
  max-height: 487px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.table {
  background-color: var(--header);
  padding: 20px;
  width: 580px;
}

.thead {
  color: var(--text);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.th {
  border-bottom: 1px solid var(--bgcolor);
  padding: 10px 0 16px 20px;
  text-align: left;
}

.th:first-child {
  padding-left: 0;
}

.th:nth-child(2) {
  border-left: 1px solid var(--bgcolor);
  border-right: 1px solid var(--bgcolor);
}

.th:last-child {
  padding-left: 12px;
}

.tbody {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

@media (max-width: 768px) {
  .container {
    max-height: 300px;
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
    padding: 5px;
  }

  .th {
    font-size: 14px;
    max-width: 30%;
    padding: 5px;
  }

  .tbody {
    font-size: 12px;
    max-width: 100%;
  }

  .td {
    max-width: 30%;
    padding: 5px 0;
  }
}