.td {
  padding: 12px 0;
}

.td-middle {
  border-left: 1px solid var(--bgcolor);
  border-right: 1px solid var(--bgcolor);
  padding-left: 20px;
}

.td-date {
  padding-left: 12px;
}

.outgoing {
  color: #B865D6;
}